node_modules/
dist/
.angular/
.cache/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

Session.vim

logs
*.log
_logs
.pnpm-debug.log*

/coverage
/reports
chrome_debug.log

.env
.env.local
.env.*.local

.pnpm-store/
.npm/
